// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prescrip-header {

  .prescrip {
    display: inline-block;
  }

  .add-presc-link {
    display: inline-block;
    margin-left: 60%;
  }
}

.flash {
  background-color: green;
}